= form_for(storedreply, url:storedreplies_path , method: form_method, remote: true, html: { class: "#{form_method}-storedreply-form" }) do |f|
  ~ f.text_area :reply, rows: '4', placeholder: 'Write your reply here to be stored. (Markdown markup is supported)', required: true,
    class: 'w-100 mb-3 form-control comment-field'
  - case form_method
  - when :post
    = f.submit 'Store Reply', class: 'btn btn-primary', data: { disable_with: 'Creating reply...' }
