%hr
.media
  -# = image_tag_for(comment.user, size: 35, custom_class: 'mr-3 d-none d-sm-block')
  .media-body
    %p
      -# = link_to(comment.user, user_path(comment.user))
      stored reply:
      = render_as_markdown(reply)

